# Leave this the same for your development file, 
# and change it to whichever URL you want users 
# to access your site with in the production file
REACT_APP_BASE_URL=localhost:3000

# Found in project settings under the General tab
REACT_APP_FIREBASE_PROJECT_ID=rcbooting-dev
REACT_APP_FIREBASE_API_KEY=AIzaSyD6tA3anaU3aVt43qUUUdgyk_w-RQZ_puY

# Found in project settings under the Cloud Messaging tab
REACT_APP_FIREBASE_MESSAGING_CERT=AAAAtC0NacM:APA91bHV4wruZPqm-ryoKkIIteZzkvMGfRkedS5UnjDNn5CipUwwgkAqDuHkv5_1Vajz18mbOktovFfTVWQiOEOz8iPFX8R2nVEnCjK0q_4ANDFnM98AuKBnkvKYzaFmo-_mjtbFWWep
REACT_APP_FIREBASE_MESSAGING_ID=773849967043

# Found in the Hosting tab
REACT_APP_FIREBASE_DOMAIN=rcbooting-dev.web.app